@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;  
}
body {
  background-image: linear-gradient(260deg, #272727, #0c0c0b);
  background-repeat: no-repeat;
  font-weight: 700;
  color: rgb(255, 255, 255);

}
.main{
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  box-shadow: 5px 5px 10px;
  border-radius: 4px;
  width: 65vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  
}
.cabecalho{
  
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #FFD700;
  
  
  
}
.logo{
  width: 6%;
  margin-left: 2vw;
}
.title-head{
  letter-spacing: 1px;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #000000;
  text-shadow: 2px 2px 4px #000000;
  margin-right: 10px;
}
.head-nav{
  width: 70%;
  margin-bottom: 0.8vw;
  border-top: 2px solid #FFD700;
  padding-top: 0.9vw;
  letter-spacing: 0.6px;
}
.nav-links{
  margin-left: 13px;
  margin-right: 13px;
  font-size: 15px;
  
  
}
.nav-links:hover{
  color: #FFD700;
  transition: all ease 1.9ms;
}
.container{
  display: flex;
  flex-direction: column;
  
  
  
}
.main-content{
  /* border: 2px solid blueviolet;  */
  padding: 20px;
  width: 62vw;
  

}

.content{
  
  margin-top: 2vw;
  

}


/* config dos txt e img e video */

#main-title{
  font-weight: 700;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.9vw;
  margin-top: 1.9vw;
  color:#FFD700;

}
#main-qs{
  font-weight: 700;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.9vw;
  margin-top: 1.9vw;
  color:#FFD700;

}
#main-loc{
  font-weight: 700;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.9vw;
  margin-top: 1.9vw;
  color:#FFD700;

}
.text-home{
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  padding: 1vw;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  word-spacing: 5px;
}
.text-qmsomos{
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  padding: 1vw;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  word-spacing: 5px;
}
.list-qms{
  padding-left: 10vw;
}
.home-image{
  margin-top: 2vw;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
.qsomos-image{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vw;
  margin-top: 2vw;
  border-radius: 4px;
}

footer{
  border-top: 2px solid #FFD700;
  padding-top: 2vw;
  margin-top: 20px;
  font-weight: 400;
  word-spacing: 1px;
}


.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}
.link-vid{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;

}
.link-vid:hover{
  font-weight: 800;
  color: #FFD700;
}


















/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Quicksand', sans-serif; 
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

